*{
  cursor: none !important;
}
body{

    
    background-image:url('{{site.baseurl}}/image/背景/背景.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "天行体";
    
}
@font-face {
    font-family: "天行体";
    src: url("{{site.baseurl}}/fonts/字魂白鸽天行体\(商用需授权\).ttf");
}

@font-face {
  font-family: "手写体";
  src: url("{{site.baseurl}}/fonts/GuoFengMaChaoGangBiShouXieTi-2.ttf");
}


a {
  text-decoration: none;
    color: #fff8d4;
    
  }

a:hover {
    background-color: #8f8f8f;
    color: rgba(253, 255, 133, 0.938);
  }
#ios {
    font-size: 30px;
    text-shadow: 1mm 1mm 0 rgba(97, 97, 97, 0.589);
    font-weight: bold;
    transition: color 3s ease; /* 平滑过渡效果 */
}
#title{
    font-size: 60px;
    color: rgb(231, 202, 105);
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-shadow: 1mm 1mm 0 rgba(100, 100, 100, 0.452);
}
/* 导航条 */
.topnav {
    padding: 2px;
    overflow: hidden;
    background-color: #202020;
    display: flex;
  }
   
  /* 导航链接 */
  .topnav div a {
    font-size: 20px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
   
  /* 链接 - 修改颜色 */
  .topnav div a:hover {
    background-color: #8f8f8f;
    color: rgb(249, 255, 167);
  }
  .topnav div img {
    height: 50px;
    width: 50px;
  }
  .text_main{
    min-height: 100vh;
    font-size: 30px;
    color: #f2f2f2;
    background-color: rgba(97, 97, 97,0.5);
}
.text_main div h2{
    text-shadow: 1mm 1mm 0 rgb(73, 73, 73);
}
.text_main div h3{
  text-shadow: 1mm 1mm 0 rgb(73, 73, 73);
}
#main_title{
  text-align: center ;
}

.demo-box {
  width: 200px;
  height: 200px;
  background: #f0f0f0;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
#fireworks-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 9999;
}
.p-like-button {
  /* 重置按钮默认样式 */
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  outline: none; /* 移除点击时的焦点框 */
  
  /* 可选：添加下划线（模仿链接） */
  
}

/* 鼠标悬停效果（可选） */
.p-like-button:hover {
  text-decoration: none;
}
